/*TABLE OF CONTENTS*/

/*COLOR PALETTE*/
/*UNIVERSAL SELECTOR*/
/*ASIDE*/
/*HEADER*/
/*H1 DIV*/
/*NAV*/

/*MEDIA QUERIES*/



/*COLOR PALETTE*/
/*http://paletton.com/#uid=62o0j0k8yK40h+M3yV4esvVkMpt*/

/*UNIVERSAL SELECTOR*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*ASIDE*/

aside {
  width: 200px;
  height: 100vh;
  background-color: #A53A72;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
}

h1 {
  line-height: 110px;
  padding-left: 25px;
  display: inline-block;
}

h2 {
  text-align: center;
}

.headshot {
  width: 200px;
  margin-left: -27px;
}

.image-cropper {
  margin: 25px auto;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/*HEADER*/

header {
  height: 200px;
  width: 100%;
  background-color: #FFFDFE;
  position: relative;
}

.content {
  height: 100vh;
  width: calc(100% - 200px);
  display: inline-block;
  margin-left: 200px;
}

.search-div {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  margin-left: -4px;
}

.search {
  width: 200px;
  color: #7D7478;
  border: none;
}

.hamburger-angle {
  display: inline-block;
}

.hamburger-angle,
.fa-plus-circle,
.fa-calendar,
.fa-th {
  background-color: #FFFDFE;
  color: #7D7478;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border: 1px solid #C5B9BB;
  border-top: 0px;
  border-bottom: 0px;
}

.fa-angle-left {
  color: #ED002F;
}

.hamburger-angle {
  border-left: 0px;
}

.fa-th {
  border-right: 0px;
}

.hamburger-angle:hover,
.fa-plus-circle:hover,
.fa-calendar:hover,
.fa-th:hover {
  background-color: #ED002F;
  color: #FFFDFE;
  transition: background-color .3s;
}

.hamburger-angle:hover .fa-angle-left {
  color: #C5B9BB;
}

.fa-plus-circle,
.fa-calendar {
  margin-right: -5px;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

/*H1 DIV*/

.h1-div {
  position: relative;
  border-top: 1px solid #C5B9BB;
}

.location {
  display: inline-block;
  color: #4D514B;
  position: absolute;
  top: 70px;
  left: 25px;
}

.favorites {
  color: #ED002F
}

.favorites:hover {
  text-decoration: underline;
}

.h1-buttons-div {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 41px;
}

.h1-button {
  background-color: #FFFDFE;
  vertical-align: middle;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #C5B9BB;
}

.h1-active-button {
  width: 80px;
  color: #4D514B;
}

.fa-circle {
  color: #95A817;
}

.fa-bookmark-o,
.fa-pencil-square-o,
.fa-trash-o {
  color: #4D514B;
}


.h1-circle-button {
  width: 30px;
}

/*NAV*/

nav {
  background-color: #FFFDFE;
  height: 50px;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  line-height: 50px;
  width: 95px;
  text-align: center;
}

.nav-bar li:hover {
  font-weight: 700;
  border-bottom: 2px solid #ED002F;
  transition: border-bottom .3s, font-weight .3s;
}

/*OTHER STUFF*/

.graphs {
  height: 300px;
  width: 100%;
  background-color: #F6DBE9;
}

.break {
  height: 100px;
  width: 100%;
  background-color: #F6DBE9;
}

.text {
  width: 100%;
}

.table {
  width: 70%;
  height: 100px;
  display: inline-block;
  background-color: #FFFDFE;
  margin-right: -4px;
}

.links {
  width: 30%;
  height: 100px;
  display: inline-block;
  background-color: #F6DBE9;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 800px) {

  aside {
    height: 200px;
    width: 100vw;
    position: static;
  }

  .image-cropper {
    margin: 14px auto;
  }

  h2,
  h4 {
    display: inline-block;
    font-size: 1em;
  }

  h2:hover,
  h4:hover {
    color: #FFFDFE;
    transition: color .3s;
  }

  h4 ~ ul {
    display: none;
  }

  hr {
    display: none;
  }

  .aside-headers {
    margin: 0px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
  }

  .content {
    margin-left: 0px;
    width: 100vw;
  }

}
