/*TABLE OF CONTENTS*/

/*COLOR PALETTE*/
/*UNIVERSAL SELECTOR*/
/*ASIDE*/
/*HEADER*/
/*H1 DIV*/
/*NAV*/
/*GRAPHS*/
/*BREAK*/
/*TABLE*/
/*LINKS*/
/*MEDIA QUERIES*/



/*COLOR PALETTE*/
/*http://paletton.com/#uid=62o0j0k8yK40h+M3yV4esvVkMpt*/

/*UNIVERSAL SELECTOR*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*ASIDE*/

aside {
  width: 200px;
  height: 100vh;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
}

main {
  background-image: url('assets/skrillex-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: -245px;
}

h1 {
  margin-top: 255px;
  padding-left: 25px;
  display: inline-block;
  color: #fff;
}

h2 {
  text-align: center;
}

hr {
  background-color: transparent;
  border-top: 1px solid #ff0;
}

.headshot {
  width: 200px;
  margin-left: -27px;
}

.image-cropper {
  margin: 25px auto;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/*HEADER*/

header {
  height: 390px;
  width: 100%;
  position: relative;
}

.content {
  height: 100vh;
  width: calc(100% - 200px);
  display: inline-block;
  margin-left: 200px;
}

.search-div {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: -4px;
  background-color: #FFFDFE;
}

.search {
  width: calc(99vw - 315px);
  color: #7D7478;
  border: none;
}

.hamburger-angle {
  display: inline-block;
}

.hamburger-angle,
.fa-plus-circle,
.fa-calendar,
.fa-th {
  background-color: #FFFDFE;
  color: #7D7478;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #C5B9BB;
  border-top: 0px;
  border-bottom: 0px;
}

.fa-angle-left {
  color: #ED002F;
}

.hamburger-angle {
  border-left: 0px;
}

.fa-th {
  border-right: 0px;
}

.hamburger-angle:hover,
.fa-plus-circle:hover,
.fa-calendar:hover,
.fa-th:hover {
  background-color: #ED002F;
  color: #FFFDFE;
  transition: background-color .3s;
}

.hamburger-angle:hover .fa-angle-left {
  color: #C5B9BB;
}

.fa-plus-circle,
.fa-calendar {
  margin-right: -5px;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

/*H1 DIV*/

.h1-div {
  position: relative;
  border-top: 1px solid #C5B9BB;
}

.location {
  display: inline-block;
  color: #4D514B;
  position: absolute;
  top: 295px;
  left: 25px;
}

.favorites {
  color: #ED002F
}

.favorites:hover {
  text-decoration: underline;
}

.h1-buttons-div {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 262px;
}

.h1-button {
  background-color: #FFFDFE;
  vertical-align: middle;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #C5B9BB;
}

.h1-active-button {
  width: 80px;
  color: #4D514B;
}

.fa-circle {
  color: #95A817;
}

.fa-bookmark-o,
.fa-pencil-square-o,
.fa-trash-o {
  color: #4D514B;
}


.h1-circle-button {
  width: 30px;
}

/*NAV*/

nav {
  height: 50px;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  line-height: 50px;
  width: 95px;
  text-align: center;
  color: #fff;
}

.nav-bar li:hover {
  font-weight: 700;
  border-bottom: 2px solid #ff0;
  transition: border-bottom .3s, font-weight .3s;
}

/*GRAPHS*/

.graphs {
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
}

.circle-graphs-div {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.bar-graph-div {
  width: 40%;
  position: relative;
}

.circle-graph {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 68px;
  border: 5px solid #ff0;
}

.circle-graph-1 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
}

.circle-graph-2 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
  border-right-color: rgba(0, 0, 0, .7);
  border-bottom-color: rgba(0, 0, 0, .7);
  position: relative;
}

.circle-graph-3 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
  border-right-color: rgba(0, 0, 0, .7);
}

.graph-png {
  width: 300px;
  padding-top: 90px;
  display: block;
  margin: auto;
}

.circle-graph-button {
  transform: rotate(-45deg);
  position: absolute;
  top: 112px;
  right: -57px;
}

.circle-graph-text {
  color: #ff0;
  transform: rotate(-45deg);
  text-align: center;
}

.circle-graph-text-top {
  line-height: 110px;
  font-size: 3em;
}

.circle-graph-text-bottom {
  position: absolute;
  top: 70px;
  right: 14px;
}

.bar-graph-button {
  width: 60px;
  display: block;
  margin: 19px auto;
}

/*BREAK*/

.break {
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fa-angle-up {
  color: #ff0;
  position: absolute;
  top: -20px;
}

.break hr {
  width: 90%;
}

/*TABLE*/

td {
  height: 55px;
  padding: 0px 25px;
}

table {
  margin: 20px;
  background-color: #fff;
}

.table {
  width: 70%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.description-div {
  height: 200px;
  overflow: auto;
}

.description-tr {
  position: relative;
}

.description-td {
  position: absolute;
  top: 214px;
}

/*LINKS*/

h5,
h5 ~ p {
  color: #fff;
}

.text {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, .7);
  overflow: auto;
}

.links {
  width: 30%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
}

.links button {
  width: 80%;
  display: block;
  padding: 10px;
  margin: 20px auto;
}

.links-div {
  box-sizing: border-box;
  margin: 20px;
  position: relative;
}

.link-text {
  display: inline-block;
  margin: 20px 0px;
  line-height: 40px;
  background-color: #fff;
  width: 80%;
  color: black;
  overflow: scroll;
}

.links-div button {
  width: 20%;
  height: 40px;
  display: inline-block;
  padding: initial;
  position: absolute;
  right: 0;
  background-color: green;
  border: none;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 880px) {

  aside {
    height: 200px;
    width: 100vw;
    position: static;
  }

  .image-cropper {
    margin: 14px auto;
  }

  h2,
  h4 {
    display: inline-block;
    font-size: 1em;
  }

  h2:hover,
  h4:hover {
    color: #FFFDFE;
    transition: color .3s;
  }

  h4 ~ ul {
    display: none;
  }

  hr {
    display: none;
  }

  .aside-headers {
    margin: 0px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
  }

  .content {
    margin-left: 0px;
    width: 100vw;
  }

  .search {
    width: 150px;

}
