/*TABLE OF CONTENTS*/

/*COLOR PALETTE*/
/*UNIVERSAL SELECTOR*/
/*ASIDE*/
/*CHECKBOXES*/
/*HEADER*/
/*H1 DIV*/
/*NAV*/
/*GRAPHS*/
/*BREAK*/
/*TABLE*/
/*LINKS*/
/*MEDIA QUERIES*/



/*COLOR PALETTE*/
/*http://paletton.com/#uid=62o0j0k8yK40h+M3yV4esvVkMpt*/

/*UNIVERSAL SELECTOR*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  background-image: url('assets/skrillex-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -245px;
}

button:focus {
  outline: 0;
}

/*ASIDE*/

aside {
  width: 200px;
  height: 100vh;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  overflow: auto;
}

h1 {
  margin-top: 255px;
  padding-left: 25px;
  display: inline-block;
  color: #fff;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 7px;
}

h2 i {
  color: #ff0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ff0;
  width: 90%;
  margin: auto;
}

h4 {
  margin: 10px 0px 10px 20px;
  color: #D3D3C6;
}

h4 ~ ul li {
  margin: 10px 0px 10px 11px;
  list-style-type: none;
  color: #fff;
}

ul li {
  font-weight: lighter;
  font-size: .8em;
  opacity: .75;
}

h4 ~ ul li i {
  width: 30px;
  color: #fff;
  text-align: center;
}

h4 ~ ul li:hover i,
h4 ~ ul li:hover {
  color: #ff0;
  opacity: 1;
  transition: color .3s, opacity .3;
  cursor: pointer;
}

.headshot {
  width: 200px;
  margin-left: -27px;
}

.image-cropper {
  margin: 14px auto;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

/*CHECKBOXES*/

li input[type="checkbox"] {
    opacity: 0;
}

li label {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

li label::before,
li label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

li label::before{
    height: 16px;
    width: 16px;
    border: 1px solid;
    left: -9px;
    top: 0px;
}

li label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -5px;
    top: 4px;
}

li input[type="checkbox"] + label::after {
    content: none;
}

li input[type="checkbox"]:checked + label::after {
    content: "";
}

/*HEADER*/

header {
  height: 390px;
  width: 100%;
  position: relative;
}

.content {
  width: calc(100% - 200px);
  display: inline-block;
  margin-left: 200px;
}

.search-div {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: -4px;
  background-color: #FFFDFE;
  position: absolute;
  left: 95px;
}

.search {
  width: calc(99vw - 320px);
  color: #7D7478;
  position: absolute;
  line-height: 50px;
  left: 35px;
  top: 0px;
  color: #000;
  border: none;
  font-size: .9em;
  margin-left: -5px;
}

.search-div:hover .search {
  background-color: #ff0;
  transition: background-color .3s, color .3s;
}

.search-div:hover {
  background-color: #ff0;
  transition: background-color .3s, color .3s;
}

.search-div:hover i {
  color: #000;
}

.search-div:hover input::placeholder {
  color: #000;
}

.search:focus {
  outline: 0;
}

.hamburger-angle {
  display: inline-block;
}

.hamburger-angle,
.fa-plus-circle,
.fa-calendar,
.fa-th {
  background-color: #FFFDFE;
  color: #7D7478;
  font-size: 1.2em;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #C5B9BB;
  border-top: 0px;
  border-bottom: 0px;
}

.fa-search {
  color: #7D7478
}

.hamburger-angle {
  border-left: 0px;
  border-right: 2px solid #C5b9BB;
}

.search-div i {
  padding: 10px;
}

.fa-th {
  border-right: 0px;
}

.hamburger-angle:hover,
.fa-plus-circle:hover,
.fa-calendar:hover,
.fa-th:hover {
  background-color: #ff0;
  color: #000;
  cursor: pointer;
  transition: background-color .3s;
}

.hamburger-angle:hover .fa-angle-left {
  color: #000;
  cursor: pointer;
  transition: color .3s;
}

.fa-plus-circle,
.fa-calendar {
  margin-right: -5px;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

/*H1 DIV*/

.h1-div {
  position: relative;
}

.location {
  display: inline-block;
  color: #C5b9BB;
  position: absolute;
  top: 295px;
  left: 25px;
}

.favorites {
  color: #F45D60
}

.favorites:hover {
  text-decoration: underline;
  cursor: pointer;
}

.h1-buttons-div {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 257px;
}

.h1-button {
  background-color: rgba(255, 255, 255, .2);
  vertical-align: middle;
  height: 40px;
  border-radius: 32px;
  border: 2px solid #C5B9BB;
  margin: 0px 10px;
}

.h1-button:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color .3s;
  cursor: pointer;
}

.h1-active-button {
  width: 100px;
  color: #4D514B;
}

.fa-circle {
  color: #95A817;
  padding-right: 5px;
}

.fa-bookmark-o,
.fa-pencil-square-o,
.fa-trash-o {
  color: #4D514B;
}

.fa-map-marker {
  padding-right: 5px;
}


.h1-circle-button {
  width: 40px;
}

/*NAV*/

nav {
  height: 50px;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  line-height: 50px;
  width: 95px;
  text-align: center;
  color: #fff;
  font-size: .9em;
  box-sizing: border-box;
}

.nav-bar li:hover {
  font-weight: 700;
  cursor: pointer;
  border-bottom: 2px solid #ff0;
  transition: border-bottom .3s, font-weight .3s;
}

/*GRAPHS*/

.graphs {
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
}

.circle-graphs-div {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.bar-graph-div {
  width: 40%;
  position: relative;
}

.circle-graph {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 68px;
  border: 5px solid #ff0;
}

.circle-graph-1 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
}

.circle-graph-2 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
  border-right-color: rgba(0, 0, 0, .7);
  border-bottom-color: rgba(0, 0, 0, .7);
  position: relative;
}

.circle-graph-3 {
  transform: rotate(45deg);
  border-top-color: rgba(0, 0, 0, .7);
  border-right-color: rgba(0, 0, 0, .7);
}

.graph-png {
  width: 250px;
  padding-top: 32px;
  display: block;
  margin: auto;
}

.circle-graph-button {
  transform: rotate(-45deg);
  width: 115px;
  position: absolute;
  top: 138px;
  right: -91px;
}

.circle-graph-text {
  color: #ff0;
  transform: rotate(-45deg);
  text-align: center;
}

.circle-graph-text-top {
  line-height: 110px;
  font-size: 3em;
}

.circle-graph-text-bottom {
  position: absolute;
  top: 70px;
  right: 14px;
}

.bar-graph-button {
  width: 140px;
  display: block;
  margin: 10px auto;
}

/*BREAK*/

.break {
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fa-angle-up {
  color: #ff0;
  position: absolute;
  top: -8px;
}

.break hr {
  width: 90%;
}

/*TABLE*/

td {
  height: 55px;
  padding: 0px 25px;
}

th {
  background-color: rgba(0, 0, 0, .7);
  line-height: 30px;
  color: rgba(255, 255, 255, .7);
  font-weight: normal;
}

table {
  margin: 20px;
  background-color: rgba(255, 255, 255, .7);
  border-collapse: collapse;
  border-radius: 4px;
  color: rgba(0, 0, 0, .9);
}

.table-head-left {
  padding-left: 8px;
}

.table-head-right {
  height: 40px;
  padding-left: 24px;
}

.fa-pencil {
  padding-right: 5px;
}

.table-head-right p {
  background-color: rgba(255, 255, 255, .2);
  width: 75px;
  border-radius: 4px;
}

.table-hr {
  width: 70%;
  position: absolute;
  left: 15%;
  border: 0px;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
}

.owsla-logo {
  height: 60px;
  margin: 10px 0px 5px 0px;
}

.owsla-td {
  position: relative;
}

.owsla-p {
  display: inline-block;
  position: absolute;
  top: 32px;
  padding-left: 5px;
}

.table-hr-1 {
  top: 115px;
}

.table-hr-2 {
  top: 170px;
}

.table-hr-3 {
  top: 227px;
}

.table-hr-4 {
  top: 467px;
}

.table-hr-5 {
  top: 520px;
}

.table-hr-6 {
  top: 601px;
}

.table-hr-7 {
  top: 653px;
}

.table {
  width: 70%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.description-div {
  box-sizing: border-box;
  height: 200px;
  margin: 19.5px 0px;
  overflow: auto;
}

.description-div:hover{
  background-color: rgba(255, 255, 255, 0.25)
}

.description-tr {
  position: relative;
}

.description-td {
  position: absolute;
  top: 247px;
  font-size: .8em;
}

.table-key {
  font-size: .8em;
  min-width: 97px;
  padding-right: 0px;
}

.bold-td {
  font-weight: bold;
}

/*LINKS*/

h5,
h5 ~ p {
  color: #fff;
}

.text {
  width: 100%;
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, .7);
}

.links {
  width: 30%;
  display: inline-block;
  position: relative;
}

.links button i {
  position: absolute;
  left: 25px;
  margin-top: 2px;
  text-align: center;
  width: 30px;
}

.links button {
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  width: 80%;
  display: block;
  padding: 10px;
  margin: 20px auto;
  color: rgba(255,255,255,.7);
  border-radius: 4px;
}

.links button:hover {
  border: 2px solid #ff0;
  cursor: pointer;
  transition: border .3s, opacity .3s;
  color: rgba(255,255,255,.9);
}

.links .links-facebook-button {
  background-color: rgba(74,111,192,.7);
}

.links .links-facebook-button:hover {
  background-color: rgba(74,111,192,1);
  transition: background-color .3s;
}

.links .links-twitter-button {
  background-color: rgba(86,159,201,.7);
}

.links .links-twitter-button:hover {
  background-color: rgba(86,159,201,1);
  transition: background-color .3s;
}

.links .links-soundcloud-button {
  background-color: rgba(255,85,0,.7);
}

.links .links-soundcloud-button:hover {
  background-color: rgba(255,85,0,1);
  transition: background-color .3s;
}

.links-div {
  box-sizing: border-box;
  margin: 20px;
  position: relative;
}

.links-div p {
  color: rgba(255,255,255,.7);
  font-size: .8em;
}

.links-div h5 {
  color: rgba(244, 93, 96,.7);
}

.copy-link .link-text {
  display: inline-block;
  margin: 6px 0px;
  line-height: 40px;
  background-color: rgba(255,255,255,.7);
  width: 77%;
  color: rgba(0,0,0,.7);
  overflow: scroll;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.links-div button {
  width: 23%;
  height: 40px;
  display: inline-block;
  padding: initial;
  position: absolute;
  right: 0;
  background-color: rgba(244, 93, 96,.7);
  color: rgba(255,255,255,.7);
  border: none;
  border-radius: 0 4px 4px 0;
}

.copy-link button {
  margin: 6px auto;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 880px) {

  aside {
    height: 211px;
    width: 100vw;
    position: static;
    background-color: #ff0;
    border-bottom: 1px solid #C5B9BB;
  }

  .image-cropper {
    margin: 14px auto;
  }

  h2,
  h4 {
    display: inline-block;
    font-size: 1em;
    margin: 10px 0px 10px 20px;
    text-transform: uppercase;
    color: rgba(0,0,0,.7);
    font-weight: bold;
    position: relative;
    padding-bottom: 0;
  }

  h2:hover,
  h4:hover {
    color: #FFFDFE;
    transition: color .3s;
  }

  .fa-angle-down {
    position: absolute;
    left: 31px;
    bottom: -11px;
    color: black;
  }

  h4 ~ ul {
    display: none;
  }

  .aside-headers {
    margin: 0px 18% 0px 18%;
    display: flex;
    justify-content: space-between;
  }

  .content {
    margin-left: 0px;
    margin-top: -4px;
    width: 100%;
    overflow: hidden;
  }

}

@media only screen and (max-width: 700px) {

  .graphs {
    display: block;
    height: auto;
  }

  .circle-graphs-div {
    margin: auto;
    padding: 80px 0px 40px 0px;
    width: 90%;
  }

  .circle-graph-button {
    top: 115px;
    right: -87px;
  }

  .bar-graph-div {
    margin: auto;
    padding: 30px 0px;
  }

  .text {
    display: block;
  }

  .table {
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 340px;
  }

  .links-link-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
    top: 260px;
  }

  .links-link-container button {
    width: 25%;
  }

  .links-div-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .links-div {
    width: 33%;
    position: relative;
    height: 215px;
  }

  .copy-link {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  h1 {
    margin-top: 203px;
  }

  .location {
    top: 243px;
  }

  .h1-buttons-div {
    top: 290px;
    left: 10px;
  }

  .bar-graph-button {
    margin: 27px auto 10px auto;
  }

  .links-link-container button {
    width: 38px;
    height: 38px;
    border-radius: 20px;
  }

  .links button i {
    position: absolute;
    left: 2px;
  }

  .links button p {
    visibility: hidden;
  }

  .links-social-button {
    position: relative;
  }

  .links .links-facebook-button {
    margin-right: -40px;
  }

  .links .links-soundcloud-button {
    margin-left: -40px;
  }

}

@media only screen and (max-width: 600px) {

  .graph-png {
    width: 60%;
  }

  .absolute-top-right {
    visibility: hidden;
  }

  .search {
    width: calc(100vw - 120px);
  }

  nav {
    visibility: hidden;
  }

  header {
    height: 190px;
  }

  h1 {
    margin-top: 42px;
    font-size: 1.5em;
  }

  table {
    margin: 10px;
  }

  h2,
  h4 {
    margin: 10px 0px 10px 0px
  }

  .aside-headers {
    margin: 0px 2% 0px 2%;
  }

  .location {
    top: 83px;
    font-size: .9em;
  }

  .h1-buttons-div {
    top: 130px;
    width: 320px;
    left: 0;
  }

  .bar-graph-div {
    width: 100%;
  }

  .circle-graphs-div {
    flex-direction: column;
    padding-top: 5px;
  }

  .circle-graph-button {
    top: 235px;
    right: -207px;
  }

  .circle-graph {
    margin: 20px;
  }

  .links-div-container {
    flex-direction: column;
    align-items: center;
  }

  .links-div {
    width: 94%;
    padding-bottom: 44px;
    height: initial;
    margin-bottom: 0;
  }

  .links {
    height: initial;
    padding-bottom: 80px;
  }

  .copy-link {
    bottom: -10px;
  }

  .links-link-container {
    top: 84%;
  }

}
